td, th, button {
    border-radius: 20px;
    background-color: #9fcdff;
    width: 25px;
    height: 10px;
}

.first_letter {
    text-transform: capitalize;

}
.text_centr {
    text-align: center;
}
#minus, #plus {
    border-radius: 20px;
    background-color: #9fcdff;
    width: 26px;
    height: 27px;
    border: white;
}